# Frontend
shamimrana.me {
    reverse_proxy frontend:8545
}

# Backend API
api.shamimrana.me {
    reverse_proxy server:6545
}

# prisma studio
db.shamimrana, db.shamimrana.me {
    reverse_proxy prisma_studio:7896
}
