

services:
  postgres:
    image: postgres:16-alpine
    container_name: auth_postgress
    restart: unless-stopped
    profiles:
      - prod
      - dev
      - server
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    # ports:
    #   - '${POSTGRES_PORT:-5432}:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  pgadmin:
      image: dpage/pgadmin4:latest
      container_name: pgadmin
      restart: unless-stopped
      profiles:
        - dev
      environment:
        PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
        PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      ports:
        - '5050:80'
      depends_on:
        - postgres
      networks:
        - app-network
  


  server:
    image: shamimrana2006/server:latest
    container_name: server
    restart: unless-stopped
    profiles:
      - prod
      - server
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      NODE_ENV: production
    ports:
      - '5090:6545'
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  frontend:
    image: shamimrana2006/frontend:latest
    container_name: frontend
    restart: unless-stopped
    profiles:
      - prod
      - frontend
    env_file:
      - .env.local
    ports:
      - '5080:8545'
    networks:
      - app-network

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    profiles:
      - prod
      - caddy
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      server:
        condition: service_started
      frontend:
        condition: service_started
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  caddy_data:
  caddy_config:
