version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: auth_postgress
    restart: always
    profiles:
      - prod
      - dev
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    # ports:
    #   - '${POSTGRES_PORT:-5432}:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network
  


  server:
    image: shamimrana2006/server:latest
    container_name: server
    restart: unless-stopped
    profiles:
      - prod
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      NODE_ENV: production
    ports:
      - '5090:6545'
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  frontend:
    image: shamimrana2006/frontend:latest
    container_name: frontend
    restart: unless-stopped
    profiles:
      - prod
    env_file:
      - .env.local
    ports:
      - '5080:8545'
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
